@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ol>
        <li>Firstly, enter your details on the <strong>"Generate CSV"</strong> page.</li>
        <li>Secondly, upload the generated CSV file on the <strong>"Upload"</strong> page.</li>
        <li>Lastly, click <strong>"Generate Timetable"</strong> to let the system create a timetable based on your inputs.</li>
    </ol>
</div>
