@page
@model TimetableGeneratorFrontend.Pages.UploadModel
@{
    ViewData["Title"] = "Upload";
}

<section>
    <form>
        <div class="form-group">
            <input type="file" class="form-control" id="file" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Upload your CSV file here to be processed.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>